html{
  font-size: 20px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input{
  font-size: 1rem;
  padding: 0.4rem;
  margin: 0.4rem;
  border: 1px solid dodgerblue;
  background: aliceblue;
  color: dodgerblue;
}

button {
  font-size: 1rem;
  color: aliceblue;
  background: dodgerblue; 
  border: 1px solid dodgerblue;
  padding: 0.4rem;
  margin: 0.4rem;
}

.ml-1{
  margin-left: 0.25rem;
}